@charset "UTF-8";

$copy-cursor: "../content-copy.png" !default;

.ui.segment.filemanager-list-item {
   // border: 0;
    padding: 3px;

    .ui.buttons {
        margin-top: .5rem;
    }

    .filemanager-list-item-view {
        position: relative;
        display: block;
        overflow: hidden;
        color: #424242;
        padding-bottom: .5rem;
        height: 77px;

        .fafcms-filemanager-picture-wrapper, .fafcms-filemanager-image-wrapper, .fafcms-filemanager-picture-wrapper img, .fafcms-filemanager-image-wrapper img, .filemanager-list-item-icon {
            height: 5rem;
        }

        .filemanager-list-item-icon {
            position: relative;

            i {
                position: absolute;
                left: 0;
                right: 0;
                transition: opacity .5s;
                font-size: 6rem;
                line-height: 1;

                &.mdi-file {
                    font-size: 5.5rem;
                }
            }

            .filemanager-list-item-open {
                opacity: 0;
            }
        }

        &:hover {
            .filemanager-list-item-icon {
                .filemanager-list-item-closed {
                    opacity: 0;
                }

                .filemanager-list-item-open {
                    opacity: 1;
                }
            }
        }
    }
}
